<html>
  <head>
    <title>報薪水２.0 颯爽登場!</title>
    {% load static %}
    <link rel="shortcut icon" type="image/ico" href="{% static "favicon.ico" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "CNA_Pay/style.css" %}">
    <script src="{% static "jQuery2.1.3.js" %}"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <h1>CNApp Pay</h1>
        
        <form class="form" method="post">
   
          <input type="text" placeholder="Username" id="username" name="username"  onkeyup="checkInput()" />
          <input type="password" placeholder="Password" id="password" name="password"/>
          <div id="monthSelector" >
            <div class="arrowContainer"><div class="arrow"></div></div>
            {% for i in months %}<label for='month'>{{ i }}</label>{% if not forloop.last %}|{% endif %}{% endfor %}
          </div>
          <button type="submit" id="login-button">Login</button>
          {% csrf_token %}
        </form>
        <span id="error"></span>
        <span style="position: absolute; right:0%; bottom:0%; color: #CCDDFF;">sh1zuku</span>
      </div>
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    
    </div>

    <script>
      console.log('看屁，喝');
      const error = document.querySelector("#error");
      let reString = /^\d+$|^\d+\.\d+$/;  
      const checkInput = () => {
        if ($('input').eq(0).val().match(reString) === null){
          error.innerHTML='Fill in numbers!!';
          $('#login-button').attr("disabled",true);
          $('#login-button').attr("style","background-color: #AAAAAA; color: #556B2F;");
        } else {
          error.innerHTML='';
          $('#login-button').removeAttr("disabled");
          $('#login-button').removeAttr("style");
        }
      }
      $('label').mouseover(function(event){
        const month = $(this).html();
        setTimeout(()=>{
          $('#month').val(month);
          const offset = $(this).position().left+$(this).width()/2;
          $('.arrow').css('left',+ offset+'px');
        },250);
      });
      $("#login-button").click(function(event){
        if ('' === $('input').eq(0).val() || '' === $('#password').val()  || $('input').eq(0).val() === '0'){
          event.preventDefault();
          error.innerHTML = 'Please fill in something!';
        } else if (typeof $('form').attr('action') === typeof undefined){
          event.preventDefault(); 
          if ($('input').eq(0).val().match(/^\d+$/) !== null){
            error.innerHTML = '';
            $('form').fadeOut(500);
            $('.wrapper').addClass('form-success');
            $.post("login", {username:username.value, password: password.value,csrfmiddlewaretoken: '{{ csrf_token }}'}, function(data) {
              setTimeout(()=>{
                $('.wrapper').removeClass('form-success');
                $('form').fadeIn(500);
                if (data === '200'){
                  $('form').attr('action','pay');
                  $('form').append(`<input type="hidden" name="username" value="${$('#username').val()}"/>`);
                  $('form').append(`<input type="hidden" name="password" value="${$('#password').val()}"/>`)
                  $('#username').attr({id:'hours', placeholder: 'Hours', name:'hours'}).val('');
                  $('#password').attr({type:'hidden', id:'month', name: 'month'}).val('1');
                  $('#login-button').html('Get PDF!');
                  $('#monthSelector').show();
                  $('.arrow').show();
                  setTimeout(()=>{$('.arrow').css('left',$('label').eq(0).position().left+$('label').eq(0).width()/2+'px');},0);
                } else {
                  error.innerHTML = 'Wrong username or password!';
                }
              },800)
            });
          } else {
            error.innerHTML = 'Should not include dot!!';
          }
        } else if ($('input').eq(0).val().match(/^\d+$|^\d+\.\d+$/) !== null){
          $('.wrapper').addClass('form-success');
          $('form').fadeOut(500);
        } else {
          event.preventDefault();
          error.innerHTML='Bad input.';
        }
      });
    </script>
  </body>
</html>

