<html>
  <head>
    <title>報薪水２.0 颯爽登場吶!</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "CNA_Pay/style.css" %}">
    <script src={% static "CNA_Pay/jQuery2.1.3.js" %}></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <h1>CNA Pay</h1>
        
        <form class="form">
          <input type="text" placeholder="Username" id="username" onkeypress="checkUsername()" onkeydown="checkUsername()" onkeyup="checkUsername()">
          <input type="password" placeholder="Password" id="password">
          <button type="submit" id="login-button">Get PDF!</button>
        </form>
        <span id="error"></span>
        <span style="position: absolute; right:0%; bottom:0%; color: #CCDDFF;">sh1zuku</span>
      </div>
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    
    </div>

    <script>
      console.log('看屁，喝')
      const checkUsername = () => {
        const userName = document.querySelector('#username')
        const login = document.querySelector("#login-button")
        const error = document.querySelector("#error") 
        if (username.value.match(/\D/)){
          error.innerHTML='Numbers only!!'
          login.setAttribute("disabled",true)
          login.setAttribute("style","background-color: #AAAAAA; color: #556B2F;")
        } else {
          error.innerHTML=''
          login.removeAttribute("disabled")
          login.removeAttribute("style")
        }
      }
      $("#login-button").click(function(event){
        event.preventDefault();
	      $('form').fadeOut(500);
	      $('.wrapper').addClass('form-success');
      });
    </script>
  </body>
</html>